@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:wght@300&family=Source+Code+Pro:wght@300&display=swap");
nav {
  background-color: #6FBFBF; }
  nav div img {
    width: 8%; }
  nav div ul li a {
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    color: white; }
    nav div ul li a :hover {
      font-size: 2.2em; }

.nav-fixed {
  overflow: auto; }

.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-top: 3%; }

.contenedorProducto {
  max-width: 30%;
  padding: 2%;
  margin: 2%; }

.main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between; }

.imgProducts {
  width: 20em;
  height: 20em; }

.center-card {
  display: flex;
  flex-direction: column;
  margin: 10%; }

.title {
  text-align: center;
  font-family: "Anton", sans-serif;
  margin-top: 3%;
  font-size: 2em;
  color: #025940; }

.sub-titles {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em; }

.button {
  margin: 5% 2%;
  font-family: "Source Code Pro", monospace;
  background-color: #025940;
  color: white;
  border: 0em;
  font-size: 1.5em;
  border-radius: 5em; }

.productsName {
  font-family: "Anton", sans-serif;
  font-size: 1.5em;
  text-align: center; }

.price {
  font-size: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-align: left; }

.logo {
  width: 10%; }

#botonCompra {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
  background-color: #6FBFBF; }

.boton {
  margin: 2% 2%;
  color: white;
  border: 0em; }

.carrito {
  font-family: "Source Code Pro", monospace;
  font-size: 1em; }

footer {
  background-color: #6FBFBF; }
  footer aside {
    display: flex;
    justify-content: center; }
  footer div {
    flex-direction: column; }
    footer div p {
      text-align: center;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5em; }

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%; }
