nav {
    background-color: #6FBFBF;
    div{
        img{
            width: 10%;
        }
    }
    div{

        ul{
            li{
                a{
                    font-size: 2em;
                    font-family: 'Source Code Pro', monospace;
                    font-weight: 300;
                    color: white;
                }
            }
        }
    
    }
    
}
