@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Montserrat:wght@300&family=Source+Code+Pro:wght@300&display=swap');


$color-1: #6FBFBF;
$color-2: #038C65;
$color-3: #025940;
$color-4: #1AD9A3;
$color-5: #048ABF;
$color-6: #003B73;

//letras

$anton: 'Anton', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$code: 'Source Code Pro', monospace;
$bebas: 'Bebas Neue', cursive;